* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: #9c9c23;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
h1{
    font-size: 40px;
    width: 100%;
    color: #1e3129;
    text-align: center;
    text-shadow: 4px 4px 4px #ffffff;
     position: absolute;
     top: 25%;
     left: 50%;
     transform: translate(-50%, -50%);
}

#app{
  position: relative;
  text-align: center;
  color: white;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex; flex-wrap: wrap;

}
.col-3 {
    width: 25%;
    padding: 50px;
    float: left;
}
.col-4 {
    width: 33.33%;
    padding: 50px;
    float: left;
}
.col-6 {
    width: 50%;
    padding: 50px;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
label {
  
  padding: 9px 25px;
  margin: 16px 0;
  box-sizing: border-box;
  background-color: #e4cc97;
  color: #29230e;
  border-radius: 7px;
  font-size: 16px;
  display: block;
  text-align: center;
  font-family: 'ZCOOL XiaoWei', serif;

}
input{
    display:block;
    padding: 9px 25px;
    margin: 16px 0;
    box-sizing: border-box;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}
textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
#entryHolder{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;

}




/*
body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
*/

/*
#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /grid-template-columns:  /
    height:100vh;
    background: #f23557;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder{
    border: 1px solid blue;

}

.entry{
    background: rgba(59, 74, 107, .4);
}



#date{

}

#temp{

}

#content{

}

.headline {

}
.title{

}
*/
/*  Basic Styling To Override Default For Basic HTML Elements */
/*
label{
    display:block;
    font-size: 27px;
}
*/


button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
/*
h1{
    font-size: 36px;
}
*/


/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 